<!-- views/partials/footer.ejs -->
<footer>
    <div class="container-footer">
        <div class="info-footer">
            <p><i class="fas fa-seedling"></i></p>
            <h2>Nosotros</h2>
            <h4>Vivero Urbano especializado en el Cultivo de Cactus, Suculentas y plantas exóticas. Nos encontramos en Córdoba, Argentina</h4>
            <a href="Nosotros" class="enlace-footer">Inicio</a>
            <br>      
            <a href="../views/product/productdetail.ejs" class="enlace-footer">Productos</a>
            <br>
            <a href="../views/aboutus.ejs" class="enlace-footer">Nosotros</a>
        </div>
        <div class="info-footer">
            <p><i class="far fa-credit-card"></i></p>
            <h2>Medios de Pago</h2>
            <h4>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</h4>
            <img class="mediosPago" src="/img/medios de pago.jpeg">
          </div>
        <div class="info-footer">
            <p><i class="fa-solid fa-comment-dots"></i></p>
            <h2>¿Querés contactarte?</h2>
            <div class="info-contacto">
              <span class="contacto"><i class="fas fa-phone-alt"></i>+54 9 351 619-3975</span>
              <br>
              <span class="contacto"><i class="fas fa-envelope-open"></i> tika.y.yura@gmail.com</span>
              <br>
              <span class="contacto"><i class="fas fa-map-marker-alt"></i> Av. Santa Ana 2898, Córdoba, Córdoba. CP:5003</span>
            </div>
            <div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6810.01321741452!2d-64.223088!3d-31.413944000000004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x943298a3be4c5ea7%3A0x361bf93449a6b3c3!2sSta.%20Ana%202898%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1677676938411!5m2!1ses-419!2sar" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright 2023 © <b>Tika y Yura</b>. Powered by <b>Grupo11</b></p>
    </div>
</footer>