<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head',{css:"aboutus", title:"Sobre Nosotros"}) %>

<body>
    <%- include('./partials/header') %>
    <main>
        <section>
            <article>
                <h3>¿Quiénes somos?</h3>
                <img src="/img/granjera.jpg">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores perspiciatis facere dignissimos
                    magni, aliquam molestiae sit mollitia vel harum, fuga unde expedita officiis et, similique obcaecati
                    architecto ipsa ipsum ea.</p>
            </article>
            <article>
                <h3>Nuestro local</h3>
                <img src="/img/sucu-cactus-1.jpg">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus maiores facere impedit
                    obcaecati, iste, voluptas voluptates fugit dicta amet provident officiis earum tenetur nemo autem
                    dolores laborum deserunt molestias iure?</p>
            </article>
            <article class="queries">
                <h3>Dudas o consultas</h3>
                <label for="name">Nombre y apellido:</label>
                <input type="text" id="name" name="name" required minlength="4" maxlength="50" size="15">
                </br>
                <label for="name">Dejanos tu email:</label>
                <input type="text" id="mail" name="email" required minlength="4" maxlength="50" size="20">
                </br>
                <label for="name">Dejanos tu teléfono:</label>
                <input type="text" id="phone" name="phone" required minlength="4" maxlength="15" size="10">
                </br>
                <label for="name">Dejanos una duda, consuilta o sugerencia:</label>
                <input class="commentbox" type="text" id="msj" name="mensaje" required minlength="4" maxlength="500" size="20">
            </article>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>