<!DOCTYPE html>
<html lang="en">

  
  <%- include('./partials/head',{css:"index", title:"Tika y Yura"}) %>
  
  <body class="body-index">
    <%- include('./partials/header') %>
    <main>
      <div>
        <h3>Cáctus</h3>
          <div> 
            <img src="/img/cactus1.jpg">
            <div>          
              <p>$6770</p>
              <p>40% OFF</p>
              <p>cactus 1</p>
              </div>
            </div>
            <div>  
              <img src="/img/cactus2.jpg">
              <div>           
                <p>$230.000</p>
                <p>20% OFF </p>
                <p>cactus 2</p>
              </div>  
            </div>   
            <div>   
              <img src="/img/cactus3.jpg">
              <div>          
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>cactus 3</p>
              </div> 
            </div>
            <div> 
              <img src="/img/cactus4.jpg"> 
              <div>          
                <p>$23.300</p>
                <p>5% OFF</p>
                <p >cactus 4</p>
              </div>
            </div>
          </div>
          <div>
            <h3 >Suculentas </h3>
            <div>
              <img  src="/img/suculenta1.jpg">
              <div>          
                <p>$6770</p>
                <p>40% OFF</p>
                <p>Suculentas 1</p>
              </div>
            </div> 
            <div>
              <img  src="/img/suculenta2.jpg">
              <div>          
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>Suculentas 2</p>
              </div>
            </div> 
            <div> 
              <img  src="/img/suculenta3.jpg">
              <div>          
                <p>$70.500</p>
                <p>10% OFF</p>
                <p >Suculentas 3</p>
              </div>
            </div> 
            <div>
              <img src="/img/suculenta4.jpg">
              <div>          
                <p>$23.300</p>
                <p>5% OFF</p>
                <p>Suculentas 4</p>
              </div>
            </div>
          </div> 
    </main>
    <footer>
      <div class="container-footer">
          <div class="info-footer">
              <p><i class="far fa-credit-card"></i></p>
              <h2>Medios de Pago</h2>
              <p class="cuerpos-de-texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
              <img class="mediosPago" src="/img/medios de pago.jpeg">
            </div>
          <div class="info-footer">
              <p><i class="fas fa-gift"></i></p>
              <h2>Nosotros</h2>
              <a href="Nosotros">Inicio</a>        
              <a href="../views/product/productdetail.ejs">Productos</a>
              <a href="../views/abautus.ejs">Nosotros</a>
          </div>
          <div class="info-footer">
              <p><i class="fas fa-user-shield"></i></p>
              <h3>Contacto</h3>
              <span><i class="fas fa-phone-alt"></i>+54 9 351 619-3975</span>
              <span><i class="fas fa-envelope-open"></i> tika.y.yura@gmail.com</span>
              <span><i class="fas fa-map-marker-alt"></i> Av. Santa Ana 2898, Córdoba, Córdoba. CP:5003</span>
              <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6810.01321741452!2d-64.223088!3d-31.413944000000004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x943298a3be4c5ea7%3A0x361bf93449a6b3c3!2sSta.%20Ana%202898%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1677676938411!5m2!1ses-419!2sar" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
          </div>
      </div>
      <div class="copyright">
          <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </div>
  </footer>
</body>

</html>