<!DOCTYPE html>
<html lang="en">

  
  <%- include('./partials/head',{css:"index", title:"Tika y Yura"}) %>
  
  <body class="body-index">
    <%- include('./partials/header') %>
    <main>
      <div>
        <h3>Cáctus</h3>
          <div> 
            <img src="/img/cactus1.jpg">
            <div>          
              <p>$6770</p>
              <p>40% OFF</p>
              <p>cactus 1</p>
              </div>
            </div>
            <div>  
              <img src="/img/cactus2.jpg">
              <div>           
                <p>$230.000</p>
                <p>20% OFF </p>
                <p>cactus 2</p>
              </div>  
            </div>   
            <div>   
              <img src="/img/cactus3.jpg">
              <div>          
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>cactus 3</p>
              </div> 
            </div>
            <div> 
              <img src="/img/cactus4.jpg"> 
              <div>          
                <p>$23.300</p>
                <p>5% OFF</p>
                <p >cactus 4</p>
              </div>
            </div>
          </div>
          <div>
            <h3 >Suculentas </h3>
            <div>
              <img  src="/img/suculenta1.jpg">
              <div>          
                <p>$6770</p>
                <p>40% OFF</p>
                <p>Suculentas 1</p>
              </div>
            </div> 
            <div>
              <img  src="/img/suculenta2.jpg">
              <div>          
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>Suculentas 2</p>
              </div>
            </div> 
            <div> 
              <img  src="/img/suculenta3.jpg">
              <div>          
                <p>$70.500</p>
                <p>10% OFF</p>
                <p >Suculentas 3</p>
              </div>
            </div> 
            <div>
              <img src="/img/suculenta4.jpg">
              <div>          
                <p>$23.300</p>
                <p>5% OFF</p>
                <p>Suculentas 4</p>
              </div>
            </div>
          </div> 
    </main>
    <%- include('./partials/footer') %>
</body>

</html>