*{
    box-sizing: border-box;
}

.body-aboutus {
    font-family: 'Bodoni';
    margin:0;    
}

.main-aboutus{
    background-color: white;
    width: 100vw;
    margin: auto;
}

.container-aboutus {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    margin-top: -4px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}


.img-aboutus {
    width: 350px;
    border-radius: 5px;
    float: left;

}

.texto-aboutus {
    text-align: justify;
    padding: 20px;

}