*{
  box-sizing: border-box;   
}

.body-index {
  font-family: 'Bodoni';
  margin:0;    
}

.error{
  color: red;
}

.main-createproduct{
  background-color: white;
  margin: auto;
  width: 100vw;
}

.container-createproduct {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.div1{
  background-color: #91795B;
  height: 50px;
  text-align: center;
  color: white;
}
.title{
  padding-bottom: 10px;
}
.form{
  max-width: 1200px;
  padding: 40px;
  border: 1px solid #030000;
  border-radius: 5px;
  background-color: #fdffff;
  box-shadow: 17px 17px 30px rgb(2, 2, 2);
}
.form label{
  font-weight: bold;
}
.form input{
  width: 200px;
  height: auto;
  margin-left: 25px;
  text-align: center;
  padding: 10px;
}
.form form div{
  margin-top: 10px;
}
.form .form-control {
  width: 80px;
}
.form input{
  width: 200px;
}
.form .button-accept{
  align-items: center;
  width: max-content;
  margin-left: 40%;
}
.button-accept{
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  background-color: green;
}

.delete{
  margin-top: 50px;
}
.delete-buton{
  width: 100px;
  align-items: end;
}
.text-danger{
  color: red;
}
@media (min-width: 769px) {
      
  .div1{
    width: 100%;
  }
  .form{
    
    width: 600px;
  }
  .form form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .form #name {
    height: auto;
    width: 350px;
  }

  .form #other_name {
    height: auto;
    width: 350px;
  }
  .form .form-control{
    width: 500px;
    height: auto;
  }
  .value{
    width: 800px;
  }
  .form #valor{
   width: 200px;
   height: auto;
  }
  .form .button-accept{
    width: 150px;
    height: auto;
  }
  .delete{
    margin-left: 60px;
  }
  
}

@media (min-width: 1280px) { 
  .main{
    margin-left: 6%;
    width: 1280px;
  }
  
  .delete{
    margin-left: 80%;
    margin-bottom: 25px;
  }
}