*{
    box-sizing: border-box;
}


.body-index {
    font-family: 'Bodoni';
    margin:0;    
}
/*Header*/

.header-index{
    background-color: white;
    width: 100vw;
}

/*Primer contenedor header*/
.top-bar-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    background-color: #91795B;
}

.left-text{
    font-size: 80%;
    text-align: center;
    padding: 20px;
    width: 50%;
    color: white;
    display: flex;
}

.right-text{
    text-align: center;
    padding: 30px;
    display: flex;
}

.redirect {
    text-decoration: none;
    color:white;
    padding-left: 10px;
}

/*Segundo contenedor header*/
.options-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    background-color: white;
    align-items:center;
    padding: 20px 0px;
}

.logo {
    width: 20%;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    padding: 10px;
}

.img-logo{
    width: 100px;
    height: auto;
    border: solid 1px #ebebeb;
}
.shop i{
    
    display: inline-block;
    background-color: #91795B;
    color: white;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
    margin: auto;
}

.burger {
    display: inline-block;
    background-color: #91795B;
    color: white;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
    margin: auto;
}

.wslinks{
    display: none;
}

/*Main*/
main{
    background-color: white;
    width: 100vw;
    max-width: 1200px;
    margin: auto;
}

article {
    padding-left: 20px;
}

img {
    width: 25%;
}

/*Footer*/
footer{
    background-color:#91795B;
    width: 100%;
    max-width: 1200px;
    margin:auto;
}

.container-footer{
    display: flex;
}

.info-footer {
    text-align: left;
    padding: 0 10px;
    width: 100%;
}

.info-footer h2 {
    margin-top: 0px;
    margin-bottom: -10px;
    padding-bottom: 20px;
    color: white;
}

.info-footer h4 {
    color: white;
    text-align: left;
}

.enlace-footer{
    text-decoration: none;
    color:white;
    padding-left: 10px;
}

.info-contacto{
    color: white;
}

.fa-credit-card{
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white;
    display: block;
    text-align: left;
    transition: all 450ms;
}

.fa-seedling {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white;
    display: block;
    text-align: left;
    transition: all 450ms;
}

.fa-comment-dots{
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white;
    display: block;
    text-align: left;
    transition: all 450ms;
}

.contacto {
    padding: 10px;
}

.copyright {
    display: block;
    align-items: flex-end;
    text-align: left;
    margin-left: 25px;
    color:white;
}


.mediosPago{
    width: 150px;
    height: auto;
}

iframe {
    width: 150px;
    height: 150px;
    margin-top: 10px;
}

@media (min-width: 361px) {
    
    .burger {
    display: none;
    }
    }

@media (min-width: 769px) {
    .container-footer{
        display: flex;
    }

    .wslinks{
        display: flex;
    }

    .burger{
        display: none;
    }
}

