*{
    box-sizing: border-box;
}
.main-profile{
    background-color: white;
    width: 100vw;
    margin: auto;
}

.container-profile{
    max-width: 1200px;
    margin: auto;
    padding: 125px 0px;
    display: block;
    background-image: url('/img/backgrounds/pexels-photo-1903969.jpeg');
}

.profile{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
    border: 15px solid #91795B;
    border-radius: 10px;
    background-color: #91795B;

}
.name{
    font-size: 20px;
    background-color: #91795B;
    color: aliceblue;
    height: 50px;
    padding: 10px;
    text-align: center;
}
.img {
    width: 100%;
    height: auto;
    max-height: 250px;
    max-width: 200px;
    justify-content: center;
}

.button{
    display: flex;
    justify-content: center;
}

.button-profile{
    color:aliceblue;
    cursor: pointer;
    width: 150px;
    border-radius: 3px;
    border: 1px solid #91795B;
}

@media (min-width: 769px){
  .img{
    max-width: 500px;
  }
}
@media (min-width: 1280px){
   .main{
    margin: 0 auto;
    max-width: 1000px;
   }
    .section{
    display: flex;
    border: none;
   }
   
   .info {
    width: 400px;
   }

   .name{
    display: block;
   }
   
}