<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head',{css:"editproduct", title:"Editar Producto"}) %>

<body>
    <%- include('../partials/header') %>

    <main>
        <div>
            <h2>Editar nuevo producto</h2>
        </div>
        <div>

            <form action="/product/editproduct/:id?_method=PUT" name="formulario" type="POST" enctype="multipart/formdata">
                <div>
                    <label for="name">Renombrar producto (4 to 60 characters):</label>
                    </br>
                </div>
                <div>
                    <input type="text" id="name" name="name" required minlength="4" maxlength="60" size="10">
                    </br>
                </div>
                <div>
                    <input type="file" name="imagen" />
                    </br>
                </div>
                <div>
                    <label for="review">Reseña del producto (4 to 150 characters):</label>
                    <input type="text" id="name" name="name" required minlength="4" maxlength="150" size="10">
                    </br>
                </div>
                <div>

                    <label for="name">Descripción del producto (4 to 600 characters):</label>

                    <input type="text" id="name" name="name" required minlength="4" maxlength="600" size="10">
                </div>
                <div>


                    <label for="productos">Tipo</label>
                    <select name="productos" id="Tipo">
                        <option value="cactus">Cáctus</option>
                        <option value="suculentas">Suculentas</option>
                        <option value="otros">Otros</option>
                    </select>
                    <input type="submit" value="Elegir" />
                </div>
                <div>
                    <label for="valor">Valor</label>

                    <input type="number" id="valor" name="valor" min="10" max="10000000">
                </div>
                <input type="submit" value="Aceptar" />
            </form>

        </div>

    </main>
    <%- include('../partials/footer') %>
</body>

</html>