<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head',{css:"productcart", title:"Carrito de compra"}) %>
<body>
        <%- include('../partials/header') %>
    <main>
        <div>
            <h2>Carro de compras</h2>
        </div>
        <div class="content">
            <section class="top">
                <p>Producto</p>
                <p class="blank">imagen</p>
                <p>Precio</p>
                <p>Cantidad</p>
                <p>Total</p>
                <p>Cuotas</p>
            </section>
            <section class="bottom">
                <p>AEONIUM NOBILE</p>
                <img src="/img/logo vectorizado.jpg">
                <p>$2000</p>
                <p>2</p>
                <p>$4000</p>
                <p>3</p>
            </section>

        </div>
        <div>
            <section class="buton">
                <input type="submit" value="Comprar" />
            </section>
        </div>
    </main>
</body>

</html>