<!DOCTYPE html>
<html lang="en">

  
  <%- include('./partials/head',{css:"index", title:"Tika y Yura"}) %>
  
  <body class="body-index">
    <%- include('./partials/header') %>
    <main class="main-index">
      <div class="banner-box">
      <img  class="banner" src="/img/banner 1280 x 250.jpg" alt="">
      </div>
      <div class="container-main">
        <h2 class="titulares">Cáctus</h2>
          <div class="sub-main">
            <div>
              <img class="products" src="/img/cactus1.jpg">
            </div>
            <div class="sub-main-descripcion">          
              <p>cactus 1</p>
              <p>$6770</p>
              <p>40% OFF</p>
              </div>
            </div>
            <div class="sub-main">  
              <div>
                <img class="products" src="/img/cactus2.jpg">
              </div>
              <div class="sub-main-descripcion">           
                <p>cactus 2</p>
                <p>$230.000</p>
                <p>20% OFF </p>
              </div>  
            </div>   
            <div class="sub-main">   
              <div>
                <img class="products" src="/img/cactus3.jpg">
              </div>
              <div class="sub-main-descripcion">          
                <p>cactus 3</p>
                <p>$70.500</p>
                <p>10% OFF</p>
              </div> 
            </div>
            <div class="sub-main"> 
              <div>
                <img class="products" src="/img/cactus4.jpg">
              </div> 
              <div class="sub-main-descripcion">          
                <p>cactus 4</p>
                <p>$23.300</p>
                <p>5% OFF</p>
              </div>
            </div>
          </div>
          <div class="container-main">
            <h2 class="titulares">Suculentas </h2>
            <div class="sub-main">
              <div>
                <img class="products" src="/img/suculenta1.jpg">
              </div>
              <div class="sub-main-descripcion">          
                <p>Suculentas 1</p>
                <p>$6770</p>
                <p>40% OFF</p>
              </div>
            </div> 
            <div class="sub-main">
              <div>
                <img class="products" src="/img/suculenta2.jpg">
              </div>
              <div class="sub-main-descripcion">          
                <p>Suculentas 2</p>
                <p>$230.000</p>
                <p>20% OFF</p>
              </div>
            </div> 
            <div class="sub-main"> 
              <div>
                <img class="products" src="/img/suculenta3.jpg">
              </div>
              <div class="sub-main-descripcion">          
                <p>Suculentas 3</p>
                <p>$23.300</p>
                <p>5% OFF</p>
              </div>
            </div> 
            <div class="sub-main">
              <div>
                <img class="products" src="/img/suculenta4.jpg">
              </div>
              <div class="sub-main-descripcion">          
                <p>Suculentas 4</p>
                <p>$23.300</p>
                <p>5% OFF</p>
              </div>
            </div>
          </div> 
    </main>
    <%- include('./partials/footer') %>
</body>

</html>