<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head',{css:"productcart", title:"Carrito"}) %>

<body>
    <%- include('../partials/header') %>

    <main>
        <div>
            <h2 class="h2">Carro de compras</h2>
        </div>
        <div class="content">
            <section class="section" >
                <p class="p">Producto</p>
                <p class="p">imagen</p>
                <p class="p">Precio</p>
                <p class="p">Cantidad</p>
                <p class="p">Total</p>
                <p class="p">Cuotas</p>
            </section>
            <section class="section" >
                <p class="p">AEONIUM NOBILE</p>
                <img class="p" src="/img/logo vectorizado.jpg">
                <p class="p">$2000</p>
                <p class="p">2</p>
                <p class="p">$4000</p>
                <p class="p">3</p>
            </section>

        </div>
        <div>
            <section class="buton">
                <input type="submit" value="Comprar" />
            </section>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>