<!-- views/partials/header.ejs -->
<header class="header-index">
  <section class="top-bar-container">
    <div class="left-text">
      <p>VIVERO URBANO ESPECIALIZADO EN CÁCTUS Y SUCULENTAS </p>
    </div>
    <div class="right-text">
      <a class="redirect" href="/aboutus">Nosotros</a>
      <a class="redirect" href="/users/perfil/:id">Mi cuenta</a>
      <a class="redirect" href="https://www.instagram.com/tika.y.yura/?igshid=YmJhNjkzNzY%3D"><i
          class="fab fa-instagram"></i></a>
      <a class="redirect" href="https://www.facebook.com/Tika.y.Yura/"><i class="fab fa-facebook"></i></a>
    </div>
  </section>
  <nav class="options-container">
    <section class="logo">
      <a href="/">
        <img class="img-logo" src="/img/logo 44 cactus.jpg"></img>
      </a>
    </section>
    <section class="options">
      <article>
        <form id="form" class="buscador">
          <input type="text" id="query" name="keywords" placeholder="Buscar productos, marcas y más"
            class="buscador-input">
          <button type="submit"><i class="fas fa-search"></i> </button>
        </form>
      </article>
      
      <div class="wslinks">
        <article><a href="/product/allproducts">PRODUCTOS</a></article>
        <article><a href="/users/login">INGRESO</a></article>
        <article><a href="/users/register">REGISTRARSE</a></article>
      </div>
      <article class="shop">
        <a href="/product/productcart">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </article>
      <article class="burger">
        <i class="fas fa-bars"></i>
      </article>
    </section>
  </nav>
</header>