<!DOCTYPE html>
<html lang="en">

<!-- <head>
=======

    <link rel="stylesheet" href="/css/login.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

</head> -->
    <%- include('../partials/head',{css:"login", title:"login"}) %>
<body>
    <%- include('../partials/header') %>
    <main id="content">
        <div class="shadow">

        <form action="/login" method="POST" enctype="multipart/form-data">
                <h1>Iniciar Sesión</h1>
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
                <input type="submit" value="Iniciar Sesión">

        </form>
        </div>

    </main>
    
</body>
</html>


