<main id="content">
    <h1>Ingresá</h1>
    <form>
        <div class="formulario">
            <input class="formBar" type="text" name="NombreUsuario" placeholder="Nombre de usuario">
        </div>
        <div class="formulario">
            <input class="formBar" type="password" name="password" placeholder="Contraseña">
        </div>
        <div class="formulario">
            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>
        </div>
    </form>
</main>
